{{ define "content" }}
  {{ with .ErrorMsg}}<div class="alert alert-danger" role="alert">{{.}}</div>{{end}}

  <div style="width:300px; margin:20px auto; {{with .Stats}}display:none;{{end}}"> 
    <form id="loginForm" method="POST">
      <input id="addTicketsInput" type="hidden" name="addTickets" value="">
      <div class="form-group">
        {{ with .Stats }}
          <input name="password" type="hidden" value="{{$.Password}}">
        {{ else }}  
          <input name="password" type="password" class="form-control" id="password" placeholder="Password">
        {{ end }}
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form> 
  </div>

  {{ with .Stats }}
    <div class="container" style="text-align:center">
        <div class="row">
          <div class="col-sm">
            <div>total</div>
            <h1>{{$.TotalTickets}}</h1>
          </div>
          <div class="col-sm">
              <div>booked</div>
              <h1>{{$.TotalBooked}}</h1>
            </div>
          <div class="col-sm">
              <div>available</div>
              <h1>{{$.TotalAvailable}}</h1>
            </div>
        </div>
    </div>  


    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Event</th>
          <th>Time</th>
          <th>Tickets</th>
          <th>Available</th>
        </tr>
      </thead>
      <tbody>
      {{ range . }}
        <tr
          {{ if lt .AvailableTickets 1}}
            class="table-danger"
          {{ end }}
          {{ if lt .AvailableTickets 25}}
            class="table-warning"
          {{ end }}
        >
          <td>{{ .EventCode }} </td>
          <td>{{ .Slot.Format "Jan 02, 3:04pm" }} </td>
          <td>
            <div>
                <button type="button" data-slot="{{.Slot.Unix}}" onclick="showAddTickets(this);return(false);" class="btn btn-sm btn-outline-secondary">{{ .NumberTickets }}</button>
            </div>            
          </td>
          <td>
            {{ .AvailableTickets }}        
          </td>
          
        </tr>         
      {{ end }}
    
      </tbody>
    </table>

    <script>
      function showAddTickets(el) {
        var parent = el.parentElement;
        var slot = el.getAttribute('data-slot');
        parent.innerHTML = '<select onchange="addTickets('+slot+',this.value);" class="form-control form-control-sm" style="width:auto;"><option value="">Add Tickets</option><option value="10">+10</option><option value="20">+20</option><option value="30">+30</option><option value="40">+40</option><option value="50">+50</option></select>'
      }
      function addTickets(slot, count) {
        var frmEl = document.getElementById("addTicketsInput");
        frmEl.value = slot + "+" + count;
        frmEl.form.submit();
      }
    </script>
  {{ end }}

{{ end }}